* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #aebdce;
  }
  .container {
    background-color: #ffffff;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* border: 2px solid red; */
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(248, 8, 0, 0.2);
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
  }
  .options label,
  .options select {
    font-family: "Poppins", sans-serif;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 24px;
    height: 28px;
    border: none;
    cursor: pointer;
  }

  .fa-solid{
    box-shadow :2px 2px 10px rgb(167, 142, 249);
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
    /* overflow-x: hidden; */
    overflow-y: scroll;
  }

  div:empty::before {
    font-size: large;
    color: grey;
  }
  div[data-placeholder]:not([data-placeholder=""]):empty::before {
    content: attr(data-placeholder);
  }

  .active {
    background-color: #e0e9ff;
  }

  span {
    position: absolute;
    border-radius: 100vmax;
  }
  
  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(255, 49, 49, 0.5),
      rgb(255, 49, 49)
    );
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 10px;
    background: linear-gradient(
      90deg,
      rgb(37, 228, 3),
      rgba(57, 255, 20, 0.5),
      transparent 50%
    );
  }
  
  .right {
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(0, 55, 255, 0.5),
      rgb(60, 160, 243)
    );
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(76, 1, 103),
      rgba(174, 15, 243, 0.5),
      transparent 70%
    );
  }
  
  .top {
    animation: animateTop 6s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 6s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 6s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 6s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  